/* header */
.header-container {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  width: 30%;
  height: 70px;
  background-color: rgba(69, 65, 65, 0.318);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container:hover {
  width: 60%;
  background-color: rgba(69, 65, 65, 0.5);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 30px 15px 30px 15px;
}

.header-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.header-dropdown {
  width: 100%;
  align-items: center;
}

.uper-dropdown {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  align-content: center;
  margin: 0;
}
.uper-dropdown h1 {
  width: 30%;
  padding-left: 50px;
}
.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.navigation-container {
  width: auto;
  height: auto;
  display: flex;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem; /
}

.navigation-list li {
  position: relative; /* For positioning the dropdown */
}

.navigation-list li svg {
  /* Icon styles (adjust as needed) */
  color: white; /* Make icon color white for better contrast */
  cursor: pointer;
  transition: transform 0.2s ease; /* Add a subtle transition */
}

.navigation-list li:hover ~ .header-container {
  height: auto;
}

.navigation-list li div ul {
  /* Dropdown list styles (adjust as needed) */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-list li div a {
  /* Dropdown link styles (adjust as needed) */
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.nav-item-name {
  /* Navigation item name styles (adjust as needed) */
  opacity: 0; /* Initially hidden */
  margin-left: 0.5rem; /* Add space between icon and text */
  transition: opacity 0.3s ease-in-out; /* Smooth fade-in */
}
