/* header */
.header-container {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 30%;
  height: 70px;
  background-color: rgba(69, 65, 65, 0.318);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container:hover {
  width: 60%;
  background-color: rgba(69, 65, 65, 0.5);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 30px 15px 30px 15px;
}

.header-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.header-dropdown {
  width: 100%;
  align-items: center;
}

.uper-dropdown {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  align-content: center;
  margin: 0;
}
.uper-dropdown h1 {
  width: 30%;
  padding-left: 50px;
}
.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.navigation-container {
  width: auto;
  height: auto;
  display: flex;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem; /
}

.navigation-list li {
  position: relative; 
  transition: all 0.5s ease-in-out;
}

.navigation-list li svg {
  color: white; 
  cursor: pointer;
}

.navigation-list li:hover ~ .header-container {
  height: auto;
}
